/* .MuiTabs-scroller MuiTabs-fixed css-jpln7h-MuiTabs-scroller {
  display: flex;
  align-items: center;
  justify-content: center} */

  .show {
    display: block;
    transition: 800ms;
    opacity: 1;
  }

  .show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
  }
